body
		{
		background-image:url(images/fon.jpg);
		}
		header
		{
		display:flex;
		justify-content:center;
		background-color:9fd4ba;
		margin-top:15px;
		margin-left:20px;
		margin-right:20px;
		width:1326px;
		}
		.blo
		{
		margin-left:50px;
		}
		.newgo
		{
		margin-top:10px;
		margin-left:50px;
		margin-right:10px;
		}
		.avt
		{
		margin-top:10px;
		margin-left:10px;
		height:50px;
		margin-right:10px;
		}
		.reg
		{
		margin-left:10px;		
		}
		.poisk
		{
		display:grid;
		margin-left:80px;
		margin-top:25px;
		width:1000%;
		height:50px;
		}
		footer
		{
		display:flex;
		justify-content:center;
		background-color:9fd4ba;
		margin-top:15px;
		margin-left:20px;
		margin-right:20px;
		width:1326px;
		}
		.textfootera
		{
		display:inline;
		}
		.pole1
		{
		display:inline-block;
		justify-content:center;
		background-color:white;
		margin-top:15px;
		margin-left:20px;
		margin-right:20px;
		width:1326px;
		height:650px;
		}
		.pole2
		{
		display:flex;
		background-color:#8bfcda;
		margin-top:15px;
		margin-left:20px;
		margin-right:20px;
		width:1286px;
		height:300px;
		}
		.pole2t1
		{
		display:flex;
		justify-content:center;
		margin-top:10px;
		margin-bottom:160px;
		width:50%;
		}
		.sp1
		{
		margin-left:10px;
		}
		.cen
		{
		margin-top:10px;
		}
		.pole2t2
		{
		display:flex;
		justify-content:center;
		margin-top:10px;
		margin-bottom:160px;
		width:50%;
		}
		.sp2
		{
		margin-top:50px;
		}
		.knkn
		{
		margin-top:50px;
		}
		.pole3
		{
		display:flex;
		background-color:#8bfcda;
		margin-top:5px;
		margin-left:20px;
		margin-right:20px;
		width:1286px;
		height:100px;
		}
		.pole3t1
		{
		display:inline;
		justify-content:center;
		margin-top:10px;
		margin-bottom:160px;
		width:50%;
		}
		.cinka
		{
		display:flex;
		margin-left:35%;
		}
		.kolvov
		{
		display:flex;
		margin-left:35%;
		}
		.pole3t2
		{
		display:flex;
		justify-content:center;
		margin-top:10px;
		margin-bottom:160px;
		width:50%;
		}
		.pole4
		{
		display:flex;
		background-color:#8bfcda;
		margin-top:20px;
		margin-left:20px;
		margin-right:20px;
		width:1286px;
		height:180px;
		}
		.pole4t1
		{
		margin-top:15px;
		margin-left:15px;
		}
		.pole4t2
		{
		margin-top:15px;
		margin-left:15px;
		}